.ipynb_checkpoints/*
etc/*
Include/*
Lib/*
Scripts/*                                                                                                                                
share/*
pyvenv.cfg
notebooks/.ipynb_checkpoints/*